@import url('https://fonts.googleapis.com/css2?family=Platypi:ital,wght@0,300..800;1,300..800&display=swap');

.nlp-container {
  position: relative;
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.node {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  &:hover {
    transform: scale(1.2);
    background-color: #007BFF;
  }
  z-index: 2;
}

.main-node{
  width: 75px;
  height: 75px;
  background-color: #004085;
  color: white;
  font-size: 40px;
  border-radius: 50%;
}

.minor-node, .end-node {
  width: 50px;
  height: 50px;
  background-color: #6c757d;
  border-radius: 50%;
}

.end-node {
  background-color: #dc3545; /* Red color for the END node */
}

.n1 { top: 400px; left: 150px; }
.n2 { top: 168px; left: 175px; }
.n3 { top: 410px; left: 360px; }
.n4 { top: 165px; left: 370px; }

.l1 { top: 160px; left: 570px; }
.l2 { top: 410px; left: 575px; }
.l3 { top: 415px; left: 730px; }

.p1 { top: 390px; left: 912px; }
.p2 { top: 310px; left: 925px; }
.p3 { top: 225px; left: 1085px; }
.p4 { top: 170px; left: 920px; }

.exclamation1 { top: 165px; left: 1210px; }
.exclamation2 { top: 315px; left: 1225px; }
.exclamation3 { top: 410px; left: 1225px; }

.arrow {
  position: absolute;
  transition: transform 0.3s;
}

.letter {
  font-family: "Platypi", serif;
  font-optical-sizing: auto;
  font-weight: 750;
  font-style: normal;
  font-size: 450px;
  z-index: 1;
}

.letter.n {
  position: absolute;
  left: 290px;  
  top: 275px;   
  transform: translate(-50%, -50%);  
}

.letter.l {
  position: absolute;
  left: 662px; 
  top: 275px;   
  transform: translate(-50%, -50%);
}

.letter.p {
  position: absolute;
  left: 1020px; 
  top: 275px;   
  transform: translate(-50%, -50%);
}

.letter.ex {
  position: absolute;
  left: 1250px;
  top: 275px;   
  transform: translate(-50%, -50%);
}


